.uiHomeFeaturesItem {
    padding: var(--spc__scale-6) var(--spc__scale-5);
    border: solid 1px hsl(var(--bg__primary--200));
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    --gap: var(--spc__scale-5);
    display: grid;
    gap: var(--gap);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.uiHomeFeaturesItem:hover {
    box-shadow: 0 10px 35px rgba(0,0,0,0.12);
    
}
@media screen and (min-width: 768px) {
    .uiHomeFeaturesItem {
        padding: var(--spc__scale-12) var(--spc__scale-10);
    }
}

.featureItem__image {
    width: 65px;
    height: 65px;
    color: hsl(var(--clr__primary--200));
}
.featureItem__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__scale--h6);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--100));
}
.featureItem__description {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--300));
    text-align: center;
    line-height: 1.6;
}