.palette__item {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.palette__item:hover {
    transform: translateY(-10px);
}
.palette__head {
    height: 159px;
    border-radius: 8px 8px 0 0;
}
.palette__body {
    padding: var(--spc__scale-5) var(--spc__scale-2) var(--spc__scale-6) var(--spc__scale-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
}