
.uiCode__block {
    --clr__code--blue: hsl(211 100% 43.2%);
    --clr__code--violet1: hsl(252 100% 99.0%);
    --clr__code--violet2: hsl(250 43.0% 48.0%);
    --clr__code--pink: hsl(322 75.0% 46.0%);
    --clr__code--mauve1: hsl(252 4.0% 44.8%);
    --clr__code--mauve2: hsl(255 95.2% 3.7% / 0.220);
    --clr__code--bronze: hsl(15 20.0% 43.1%);
    --clr__code--plum: hsl(292 60.0% 42.5%);
    --clr__code--grass1: hsl(133 50.0% 32.5%);
    
    --bg__code: var(--clr__code--violet1);
    --text__code: var(--clr__code--violet2);
    --syntax1: var(--clr__code--blue);
    --syntax2: var(--clr__code--pink);
    --syntax3: var(--clr__code--grass1);
    --syntax4:var(--clr__code--bronze);
    --syntax5:var(--clr__code--plum);
    --comment__code: var(--clr__code--mauve1);
    --fadedLines: var(--clr__code--mauve2);

}
code[class*=language-], pre[class*=language-] {
    color: var(--text__code);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
:not(pre)>code[class*=language-], pre[class*=language-] {
    background: var(--bg__code);
}
.language-javascript .token.keyword,
.language-javascript .token.punctuation,
.language-javascript .token.operator,
.language-javascript .token.function {
    color: var(--syntax1);
} 
.language-javascript .token.literal-property.property {
    color: var(--text__code);
}
.language-javascript .token.number,
.language-javascript .token.string {
    color: var(--syntax2);
}
.language-css .token.comment, 
.language-javascript .token.comment, 
.language-html .token.comment {
    color: var(--comment__code);
}

/* ************ |
|    Html       |
| ************ */
.language-html .token.tag,
.language-html .token.tag .token.punctuation {
    color: var(--syntax2);
}
.language-html .attr-value,
.language-html .token.attr-value .token.punctuation {
    color: var(--syntax3);
}
.language-html .token.punctuation.attr-equals,
.language-html .attr-name {
    color: var(--syntax1);
}
/* ************ |
|     CSS       |
| ************ */
.language-css .token.selector,
.language-css .token.punctuation {
    color: var(--syntax1);
}
.language-css .token.property {
    color: var(--text__code);
}
.language-css .function, 
.language-css .keyword, 
.language-css .atrule {
    color: var(--syntax4);
}
.language-css .attr-parentheses-value,
.language-css .attr-name {
    color: var(--syntax5);
}
.language-css .attr-value {
    color: var(--syntax3);
}
code[class*=language-css], pre[class*=language-css] {
    color: var(--syntax2);
}
