.UiHeadBarForm {
    background: hsl(var(--bg__primary--300));
    border-radius: 4px;

}
.__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.__input {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p1);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--200));
    background: hsl(var(--bg__primary--300));
    width: 345px;
    height: 100%;
    border-radius: 8px;
    padding: var(--spc__scale-4);
    transition: all 0.3s ease-in;
}
.__input::placeholder {
    color: hsl(var(--clr__text--400));
}
.headBar__submit {
    cursor: pointer;
    background: none;
    border: none;
    width: fit-content;
    margin-right: var(--spc__scale-4);
}
.headBar__submit:active {
    box-shadow: inset 5px 5px 10px -3px hsla(var(--bg__primary--100) / 1.2 );
}
.headBar__icon {
    width: 21px;
    height: 21px;
    color: hsl(var(--clr__text--100));
}