.accordionMenuItem:hover {
    border-radius: var(--spc__base);
    background: hsla(var(--bg__primary--100) / 0.09);
    transition: all 0.3s ease-out;
}
.accordionMenuLink {
    display: flex;
    gap: var(--spc__scale-3);
    align-items: center;
    padding-block: var(--spc__scale-3);
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__regular);
    color: hsl(var(--clr__text--300));
}
.accordionCircleIcon {
    width: 18px;
    height: 18px;
}
.accordionCircleIcon[data-color="blue"] {
    color: hsl(var(--clr__primary--100));
}
.accordionCircleIcon[data-color="green"] {
    color: hsl(var(--clr__primary--200));
}
.accordionCircleIcon[data-color="orange"] {
    color: hsl(var(--clr__primary--300));
}
.accordionCircleIcon[data-color="red"] {
    color: hsl(var(--clr__primary--400));
}
