.uiFooterSocialMedia__list {
    --gap: var(--spc__scale-4);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.socialIcon__item {
    width: 24px;
    height: 24px;
    color: hsl(var(--clr__text--200));
    transition: all 0.3s ease-in;
}
.socialIcon__item:hover {
    color: hsl(var(--clr__primary--200));
    width: 28px;
    height: 28px;
}

