.uiHistoricPath {
    --gap: var(--spc__scale-3);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: var(--spc__scale-8);
}
.uiHistoricPath__item {
    --gap: var(--spc__scale-3);
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.uiHistoricPath__link,
.uiHistoricPath__icon {
    display: flex;
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--300));
    transition: all 0.3s ease-in;
}
.uiHistoricPath__icon {
    font-size: var(--fs__small--p1);
}
.uiHistoricPath__link:hover {
    color: hsla(var(--clr__text--100) / 0.8);
    text-decoration: underline;
}
.uiHistoricPath__lastItem {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--100));
}