.prop1Sample3Form {
    background: white;
    padding: 16px;
    border-radius: 8px;
    --gap: 8px;
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.prop1Sample3Input {
    accent-color: yellow;
    max-width: 250px;
}
.prop1Sample3Label {
    font-family: var(--ff__inter, sans-serif);
    font-size: 14px;
    font-weight: 600;
    color: hsl(var(--clr__text--100));
    margin-left: 5px;
}