.subject {
    background: hsla(var(--bg__primary--400));
    padding: var(--spc__scale-6) var(--spc__scale-8) var(--spc__scale-10);
}
.subject__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__body--p2);
    font-weight: var(--fw__semiBold);
    color: hsla(var(--clr__text--100));
    margin-bottom: var(--spc__scale-8);
}
.subject__propertyList {
    --min__width: min(250px, 100%);
    --gap: var(--spc__scale-4);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min__width), 1fr));
}
@media screen and (min-width: 768px) {
    .subject__propertyList {
        --min__width: 250px;
    }
}