.inputClass {
    accent-color: red;
    margin-right: 5px;
}
.labelClass {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--100));
}