.prop2Sample1Container {
    max-width: 102px;
    height: 300px;
    background: white;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}
.prop2Sample1Box {
    width: 70px;
    height: 70px;
}
.prop2Sample1Box[data-color="coral"] {
    background-color:coral;
}
.prop2Sample1Box[data-color="lightblue"] {
    background-color:lightblue;
}
.prop2Sample1Box[data-color="pink"] {
    background-color:pink;
}
