.uiCategories__headline {
    --gap: var(--spc__scale-5);
    display: grid;
    gap: var(--gap);
}
.uiCategories__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__scale--h9);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--200));
}
.uiCategories__description {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--400));
    line-height: 25px;
    max-width: 575px;
}