.header {
    padding-block: var(--spc__scale-27) var(--spc__scale-28);
    margin-bottom: var(--spc__scale-26);
}
.text__secondary {
    margin-bottom: var(--spc__scale-6);
}
.text__primary {
    margin-bottom: var(--spc__scale-4);
}
.text__tertiary {
    --max__width: 600px;
    max-width: var(--max__width);
}