.sidebarGroup__item {
	padding: 10px var(--spc__scale-2);
	border-radius: var(--spc__scale-2);
    transition: all 0.3s ease-in;
}
.sidebarGroup__item:hover {
    margin-left: var(--space__base);
	background: hsla(var(--clr__text--300) / 0.06);
	cursor: pointer;
}
.sidebarGroup__link {
	--gap: 12px;
	display: flex;
	align-items: flex-start;
	gap: var(--gap);
	font-family: var(--ff__inter, sans-serif);
	font-size: var(--fs__small--p2);
	font-weight: var(--fw__semiBold);
	color: hsla(var(--clr__text--300));
}
.sidebarGroup__icon {
	width: 20px;
	height: 20px;
	color: hsl(var(--bg__primary--100));
}