.uiCategoriesDetails {
    background: hsla(var(--bg__primary--300));
    padding: var(--spc__scale-8) var(--spc__scale-6);
    margin-inline: var(--spc__scale-8);
    border-radius: var(--spc__scale-4);
}
.uiCategoriesDetails__head {
    --gap: 14px;
    display: grid;
    gap: var(--gap);
    margin-bottom: var(--spc__scale-8);
}
.uiCategories__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__body--p2);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--100));
}
.uiCategories__description {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p1);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--400));
    line-height: 30px;
}
.uiCategoriesDetails__body {
    padding: var(--spc__scale-8) var(--spc__scale-2) var(--spc__scale-8) var(--spc__scale-4);
    background: hsl(var(--bg__primary--400));
    border-radius: var(--spc__scale-4);

    --gap: var(--spc__scale-2);
    display: grid;
    gap: var(--gap);
}
@media screen and (min-width: 768px) {
    .uiCategoriesDetails__body {
        padding: var(--spc__scale-9) var(--spc__scale-6);
        
    }
}
.uiCategoriesExample__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p1);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--200));
}
.uiCategoriesExample__description {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__regular);
    color: hsl(var(--clr__text--300));
    margin-bottom: var(--spc__scale-8);
}
.uiCategoriesExample__sample {
    border-radius: var(--spc__scale-4);
    background: hsla(var(--bg__primary--300));
}
