.uiLoading__container {
    width: 100%;
    padding-top: var(--spc__scale-6);
    display: grid;
    place-items: center;
}
.loading {
    --width: 150px;
    --height: 150px;
    --circle: 50%;
    animation: is-rotating 1s infinite;
    border: 6px solid hsl(var(--bg__primary--300));
    border-radius: var(--circle);
    border-top-color: hsl(var(--clr__primary--200));
    width: var(--width);
    height: var(--height);
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}