.prop3Sample1Container {
    max-width: 172px;
    height: 300px;
    background: white;
    margin: 16px;
    padding: 0px 16px;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.prop3Sample1Box {
    width: 70px;
    height: auto;
}
.prop3Sample1Box[data-color="coral"] {
    background-color:coral;
}
.prop3Sample1Box[data-color="lightblue"] {
    background-color:lightblue;
}
.prop3Sample1Box[data-color="pink"] {
    background-color:pink;
}
.prop3Sample1Box[data-color="aqua"] {
    background-color: aquamarine;
}
.prop3Sample1Box[data-color="yellow"] {
    background-color: #ffc13b;
}