.uiFooterCopyright {
    --gap: var(--spc__scale-2);
    display: grid;
    gap: var(--gap);
}
.UiFooterCopyright__text {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--200));
    text-align: center;
    line-height: 1.6;
}
.UiFooterCopyright__inspired {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p3);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--300));
    text-align: center;
}
.UiFooterInspired__link {
    color: hsl(var(--clr__text--200));
}
.UiFooterInspired__link:hover {
    text-decoration: underline;
}
