.singleItem {
    margin-bottom: var(--spc__scale-2);
}
.singleItem__link {
    --gap: var(--spc__scale-3);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 10px var(--spc__scale-2);
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2);
    font-weight: var(--fw__medium);
    color: hsla(var(--clr__text--300));
    border-radius: var(--space__base);
    transition: all 0.3s ease-in;
}
.singleItem__link:hover {
    margin-left: var(--space__base);
    background: hsla(var(--clr__text--300) / 0.06);
    cursor: pointer;
}
.singleItem__icon {
    height: 21px;
    width: 21px;
    color: hsl(var(--bg__primary--100));
}