
.uiCategoriesSamples {
    margin-inline: var(--spc__scale-4);
    padding: var(--spc__scale-8) var(--spc__scale-4) var(--space__base);
    background: hsl(var(--bg__primary--300));
    border-radius: var(--spc__scale-4);
}
@media screen and (min-width: 768px)
{
    .uiCategoriesSamples {
        margin-inline: var(--spc__scale-8);
        padding: var(--spc__scale-8) var(--spc__scale-7) var(--space__base);
    }
}
.uiCategoriesSamples__head {
    border-radius: var(--spc__scale-4) var(--spc__scale-4) 0 0;
    padding: var(--spc__scale-7) var(--spc__scale-4);
    background: hsl(var(--bg__primary--400));
}
@media screen and (min-width: 768px) {
    .uiCategoriesSamples__head {
        padding: var(--spc__scale-8) var(--spc__scale-6);
    }
}
.hr {
    border: 1px solid hsl(var(--bg__primary--300));
    margin-block: 0px;
}
.uiCategoriesSamples__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__body--p2);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--100));
}
.uiCategoriesSamples__body {
    background: hsl(var(--bg__primary--400));
    margin-bottom: var(--spc__scale-10);
    padding-bottom: var(--spc__scale-10);
    border-radius: 0 var(--spc__scale-4) var(--spc__scale-4) 0;
}
.uiCategoriesSamples__bodyTitle {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__body--p1);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--200));
    margin-inline: var(--spc__scale-2);
    padding: var(--spc__scale-6) var(--spc__scale-6) var(--spc__scale-8);
    background: hsl(var(--bg__primary--300));
    border-radius: var(--spc__scale-4) var(--spc__scale-4) 0 0;
}
.uiCategoriesSamples__bodyCollection {
    --gap: var(--spc__scale-6);
    --min_width: min(100%, 380px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min_width), 1fr));
    gap: var(--gap);
    align-items: center;

    margin-inline: var(--spc__scale-2);
    padding: var(--spc__scale-6) var(--spc__scale-2);
    background: hsl(var(--bg__primary--300));
    border-radius: 0 0 var(--spc__scale-4) var(--spc__scale-4);
}
@media screen and (min-width: 768px) {
    .uiCategoriesSamples__bodyCollection {
        padding: var(--spc__scale-6) var(--spc__scale-4);
    }
    .uiCategoriesSamples__bodyCollection,
    .uiCategoriesSamples__bodyTitle {
        margin-inline: var(--spc__scale-4);
    }
}
