.uiHomeTeam {
    background: hsl(var(--bg__primary--300));
    padding: var(--spc__scale-12);
    border-radius: var(--spc__scale-4);
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.uiHomeTeam__headline {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__scale--h5);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--200));
    text-align: center;
    margin-bottom: var(--spc__scale-3);
}
.uiHomeTeam__subtitle {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p1);
    font-weight: var(--fw__medium);
    color: hsl(var(--clr__text--400));
    text-align: center;
}
.uiHomeTeam__team {
    margin-top: var(--spc__scale-10);
    display: grid;
    align-items: center;
    justify-items: center;
}
