.uiButtonMenu {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__scale--h9);
    font-weight: var(--fw__semiBold);
    color: hsl(var(--clr__text--100));
    padding: var(--spc__scale-2) var(--spc__scale-5);
    border-radius: 16px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
@media screen and (min-width: 768px) {
    .uiButtonMenu {
        display: none;
    }
}