.sidebar {
    --max__width: 250px;
    background-color: var(--bg__primary--400);
    padding: var(--spc__scale-4) var(--spc__scale-2);
    max-width: var(--max__width);
    height: 100vh;
    border-right: 3px solid hsl(var(--bg__primary--300));
}
.sidebar__head {
    display: grid;
    place-content: center;
}
.sidebar__body {
    padding: var(--spc__scale-6) var(--spc__scale-4);
    background: hsl(var(--bg__primary--400));
}
.sidebar__tail {
    height: 330px;
    display: grid;
    align-items: end;
}
.sidebar__image {
    width: min(100%, 220px);
    height: 260px;
}