.sidebar {
	--max__width: 250px;
	background-color: var(--bg__primary--400);
	padding-block: var(--spc__scale-6);
	max-width: var(--max__width);
	height: max(100vh, 100%);
	border-right: 3px solid hsl(var(--bg__primary--300));
}
.sidebar__head {
	display: grid;
	place-items: center;
	margin-bottom: var(--spc__scale-4);
}
.sidebar__body {
	padding: var(--spc__scale-6) var(--spc__scale-4);
}
.sidebar__close {
    --top: 30px;
    --right: 30px;
    display: none;
    position: absolute;
    top: var(--top);
    right: var(--right);
    border-radius: var(--space__base);
    padding: var(--spc__scale-2) var(--spc__scale-4);
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__small--p2); 
    background: hsl(var(--bg__primary--200));
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .sidebar__close {
        display: block;
    }
	.sidebar {
		position: fixed;
		inset: 0 0 0 30%;
		max-width: 100%;
        background: hsla(var(--bg__primary--400) / 0.6);
        border-left: 3px solid hsl(var(--bg__primary--300));
		transform: translateX(100%);
		transition: transform 500ms ease-in-out;
	}
	.sidebar[data-visible="true"] {
		display: block;
		transform: translateX(0);
	}
	@supports (backdrop-filter: blur(1rem)) {
		.sidebar {
			backdrop-filter: blur(1rem);
		}
	}
    .sidebar__head {
        place-items: start;
        margin-left: var(--spc__scale-4);
    }
}
