.UiEncyclopediaPage {
    background: hsl(var(--bg__primary--300));
    padding: var(--spc__scale-6) var(--spc__scale-8);
    margin-inline: var(--spc__scale-8);
    border-radius: var(--spc__scale-4);
}
@media screen and (max-width: 400px) {
    .UiEncyclopediaPage {
        margin-inline: var(--spc__scale-2);
    }
}
.UiEncyclopediaPage__title {
    font-family: var(--ff__inter, sans-serif);
    font-size: var(--fs__scale--h7);
    font-weight: var(--fw__semiBold);
    color: hsla(var(--clr__text--100));
    margin-bottom: var(--spc__scale-6);
}