.prop2Sample6Container {
    max-width: 172px;
    height: 300px;
    background: white;
    margin: 16px;
    padding: 0px 16px;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.prop2Sample6Box {
    width: 70px;
    height: 70px;
}
.prop2Sample6Box[data-color="coral"] {
    background-color:coral;
}
.prop2Sample6Box[data-color="lightblue"] {
    background-color:lightblue;
}
.prop2Sample6Box[data-color="pink"] {
    background-color:pink;
}
.prop2Sample6Box[data-color="aqua"] {
    background-color: aquamarine;
}
.prop2Sample6Box[data-color="brown"] {
    background-color: brown;
}
