@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --clr-primary-100: 227 100% 68%; 
        --clr-primary-200: 153 59% 51%; 
        --clr-primary-300: 40 100% 50%; 
        --clr-primary-400: 11 100% 59%; 
        --clr-secondary-100: 218 100% 94%; 
        --clr-secondary-200: 155 49% 93%; 
        --clr-secondary-300: 41 88% 94%; 
        --clr-secondary-400: 12 100% 94%; 
        --clr-transparent-100: 218 100% 98%; 
        --clr-transparent-200: 154 54% 97%; 
        --clr-transparent-300: 43 100% 97%; 
        --clr-transparent-400: 11 100% 98%; 
        --clr-text-100: 218 20% 25%; 
        --clr-text-200: 219 21% 39%; 
        --clr-text-300: 219 14% 60%; 
        --clr-text-400: 218 14% 73%; 
        --bg-neutral-100: 216 14% 79%; 
        --bg-neutral-200: 228 14% 93%; 
        --bg-neutral-300: 210 25% 98%; 
        --bg-neutral-400: 0 0% 100%;
    }
}