@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-body-color: 232 16% 37%; /*#4f536c */
    --clr-body-two-color: 45 29% 97%; /*#faf9f6 */
    --clr-primary-color: 248 79% 58%; /*#543ee8 */
    --clr-secondary-color: 261 53% 17%; /*#241442 */
    --clr-tertiary-color: 243 10% 65%; /* #9d9cae */
    --clr-border-color: 0 0% 91%; /*#e8e8e8 */;
    --clr-dark-color: 256 28% 8%; /*#110e19 */
    --clr-grey-100: 0 0% 97%; /*#f8f8f8 */
    --clr-grey-200: 245 100% 98%; /*#f4f3ff */
    --clr-grey-300: 240 33% 98%; /*#f7f7fb */
    --clr-grey-400: 0 0% 95%; /*#f3f3f3 */
}
body {
    background: hsl(var(--clr-body-two-color));
}
.background-hero {
    background: transparent;
    background-image: linear-gradient(90deg, #5035F2 0%, #7849E4 100%);
}
.box-shadow-widget {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.box-shadow-widget-icon {
    box-shadow: 0 4px 20px #d0d0d0;
}
.bg-icon-widget {
    width: 70px;
    height: 70px;
}
.bg-icon-widget-red {
    border: 2px solid #FF9D95;
    background-color: transparent;
    background-image: linear-gradient(130deg, #F57064 0%, #FFD0CC 115%);
}
.bg-icon-widget-purple {
    border: 2px solid #B1A8FF;
    background: transparent;
    background-image: linear-gradient(130deg,#7A66FF 0%,#EBDFFF 115%);
}
.bg-icon-widget-pink {
    border: 2px solid #FBA3E3;
    background: transparent;
    background-image: linear-gradient(130deg, #F480D4 0%, #FFD3F3 115%);
}
.bg-icon-widget-emerald {
    border: 2px solid #6CE1DC;
    background: transparent;
    background-image: linear-gradient(130deg, #45C8C2 0%, #B6F7F4 115%);
}
.bg-icon-widget-gold {
    border: 2px solid #FEC269;
    background: transparent;
    background-image: linear-gradient(130deg, #FFA41F 0%, #FFE3BB 115%);
}
.menu-hidden[aria-hidden="false"] {
    visibility: visible;
    max-height: none;
}
@media screen and (max-width: 767px) {
    .menu-hidden[aria-hidden="true"] {
        visibility: hidden;
        max-height: 0;
        transition: padding 0.3s ease-out;
    }
    .menu-hidden[aria-hidden="false"] {
        padding-block: 1.25rem 2rem;
        transition: padding 0.5s ease-in;
    }
}
.transition-all-card-image {
    transition: all .21s ease-in-out;
} 

@layer utilities {
    .add-effect-gray-in-image {
        filter: grayscale(1);
        transition: all ease .21s;
        opacity: .5;
    }
    .remove-effect-gray-in-image {
        filter: grayscale(0);
        opacity: 1;
    }
}